<hr />
<footer>
    <div class="bottom-footer">
        <div class="container">
            <div class="contact-bar">
                <div class="col-md-4">
                    <div class="contact-details">
                        <span><i class="fa fa-map-marker"></i></span>
                        <strong>Address:</strong>
                        <p>01 Ly Tu Trong street, Ninh Kieu, Can Tho</p>
                    </div><!-- contact-details -->
                </div>
                <div class="col-md-4">
                    <div class="contact-details dark">
                        <span><i class="fa fa-phone"></i></span>
                        <strong>Call Us Now:</strong>
                        <p>+84 292 373 1072, <span>+84 292 373 1071</span></p>
                    </div><!-- contact-details -->
                </div>
                <div class="col-md-4">
                    <div class="contact-details">
                        <span><i class="fa fa-envelope-square"></i></span>
                        <strong>Email Address:</strong>
                        <p>group_eproject@onlinebus.com</p>
                    </div><!-- contact-details -->
                </div>
            </div><!-- contact-data -->
            <p>&copy; 2020 <a href="#">Resort</a> - All Rights Reserved - Made By <a href="#">Group 02</a></p>
        </div><!-- container -->
    </div>
</footer>
