@{
    ViewBag.Title = "Introduction";
}
<h2>@ViewBag.Title.</h2>

@*<h3>Introduction: </h3>*@

<p>
    SRC Travel Agencies is a domestic privatized transportation company that runs the
vehicles all over the country. They have several branches at different locations of the
country, so that they can provide the transportation facilities between the places. They
want an online application to be developed, where the details of the bookings done and
the customer will be updated from time to time and one can track the details of the
available seats immediately.
</p>

<h3>Existing Scenario:</h3>
<p>
    SRC Travel Agencies is the agency that provides the transportation facility to the
    customers based on their requirements. They provide different buses like Express,
    Luxury, and Volvo (Has two types A/C and Non A/C). The charges are different for
    different buses. The charges are in the below mentioned format.
</p>
<h4>Express < Luxury < Volvo (Non A/C) < Volvo (A/C)</h4>
<p>
    The charges also depend on the distance the customer wants to travel and as well on
    the age of the customer. The charges also depends on the age, i.e., up to the age of 5 years
    there will not be any charges, in between 5 12 there will be half charges and for above
    twelve the charges will be full till the age of 50 and for the age above fifty they will get a
    discount of 30%. They implement this in order to attract the customers.
</p>

<p>
    They maintain all the records of the bus reservation counter through Online service
    itself but the application is only accessed by the Admin and the Employers Alone. Until
    now they used to issue the tickets in the buses alone as it is difficult to track the details of
    the bookings done as it provides the service allover the country.
</p>

