@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    01 Ly Tu Trong Street <br />
    Ninh Kieu District, <br />
    Can Tho City <br />
    
    <abbr title="Phone">P:</abbr>
    +84 292 373 1072 <br />
    +84 292 373 1071
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:group02_eproject@onlinebus.com">Support@onlinebus.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:group02_eproject@onlinebus.com">Marketing@onlinebus.com</a>
</address>