@{
    ViewBag.Title = "Home Page";
}


<section>
    <div class="block no-padding">
        <div class="row">
            <div class="col-md-12 column">
                <div class="rooms-list">
                    <ul>
                        <li>
                            <div class="room">
                                <img src="~/Content/images/resource/bus_01.jpg" alt="" />
                                <div class="room-name"><h4>EXPRESS <span>BUS</span></h4></div>
                                <div class="room-detail">
                                    <div class="room-inner">
                                        <h3>EXPRESS BUS</h3>
                                        <p>
                                            SRC Travel Agencies is the agency that provides the transportation facility to the
                                            customers based on their requirements
                                        </p>
                                        <strong>$200 <i>- Per Tour</i></strong>
                                        <div class="room-features">
                                            <span><i class="fa fa-calendar"></i></span>
                                            <span><i class="fa fa-wifi"></i></span>
                                            <span><i class="fa fa-clock-o"></i></span>
                                            <span><i class="fa fa-laptop"></i></span>
                                            <span><i class="fa fa-umbrella"></i></span>
                                        </div>
                                        <div class="view-more">
                                            <a href="~/Booking/Index" title="">view more detail <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Express Bus Detail -->
                            </div><!-- Bus type -->
                        </li>
                        <li>
                            <div class="room">
                                <img src="/Content/images/resource/bus_02.jpg" alt="" />
                                <div class="room-name"><h4>LUXURY <span>BUS</span></h4></div>
                                <div class="room-detail">
                                    <div class="room-inner">
                                        <h3>LUXURY BUS</h3>
                                        <p>
                                            SRC Travel Agencies is the agency that provides the transportation facility to the
                                            customers based on their requirements
                                        </p>
                                        <strong>$400 <i>- Per Tour</i></strong>
                                        <div class="room-features">
                                            <span><i class="fa fa-calendar"></i></span>
                                            <span><i class="fa fa-wifi"></i></span>
                                            <span><i class="fa fa-clock-o"></i></span>
                                            <span><i class="fa fa-laptop"></i></span>
                                            <span><i class="fa fa-umbrella"></i></span>
                                        </div>
                                        <div class="view-more">
                                            <a href="~/Booking/Index" title="">view more detail <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Room Detail -->
                            </div>
                        </li>
                        <li>
                            <div class="room">
                                <img src="/Content/images/resource/bus_03.jpg" alt="" />
                                <div class="room-name"><h4>VOLVO <span>BUS</span></h4></div>
                                <div class="room-detail">
                                    <div class="room-inner">
                                        <h3>VOLVO BUS</h3>
                                        <p>
                                            SRC Travel Agencies is the agency that provides the transportation facility to the
                                            customers based on their requirements
                                        </p>
                                        <strong>$900 <i>- Per Tour</i></strong>
                                        <div class="room-features">
                                            <span><i class="fa fa-calendar"></i></span>
                                            <span><i class="fa fa-wifi"></i></span>
                                            <span><i class="fa fa-clock-o"></i></span>
                                            <span><i class="fa fa-laptop"></i></span>
                                            <span><i class="fa fa-umbrella"></i></span>
                                        </div>
                                        <div class="view-more">
                                            <a href="~/Booking/Index" title="">view more detail <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Room Detail -->
                            </div>
                        </li>
                        <li>
                            <div class="room">
                                <img src="/Content/images/resource/bus_04.jpg" alt="" />
                                <div class="room-name"><h4>VOLVO (A/C) <span>BUS</span></h4></div>
                                <div class="room-detail">
                                    <div class="room-inner">
                                        <h3>VOLVO (A/C) BUS</h3>
                                        <p>
                                            SRC Travel Agencies is the agency that provides the transportation facility to the
                                            customers based on their requirements
                                        </p>
                                        <strong>$1200 <i>- Per Tour</i></strong>
                                        <div class="room-features">
                                            <span><i class="fa fa-calendar"></i></span>
                                            <span><i class="fa fa-wifi"></i></span>
                                            <span><i class="fa fa-clock-o"></i></span>
                                            <span><i class="fa fa-laptop"></i></span>
                                            <span><i class="fa fa-umbrella"></i></span>
                                        </div>
                                        <div class="view-more">
                                            <a href="~/Booking/Index" title="">view more detail <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Room Detail -->
                            </div>
                        </li><!-- Bus Type Detail -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- Bus types Section -->


<div class="row">
    <div class="col-md-4">
        <h2>Introduction:</h2>
        <p>
            SRC Travel Agencies is a domestic privatized transportation company that runs the
            vehicles all over the country. They have several branches at different locations of the
            country, so that they can provide the transportation facilities between the places. They
            want an online application to be developed, where the details of the bookings done and
            the customer will be updated from time to time and one can track the details of the
            available seats immediately.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Existing Scenario:</h2>
        <p>
            SRC Travel Agencies is the agency that provides the transportation facility to the
            customers based on their requirements. They provide different buses like Express,
            Luxury, and Volvo (Has two types A/C and Non A/C). The charges are different for
            different buses. The charges are in the below mentioned format.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Proposed Solution:</h2>
        <p>
            Now they want incorporate an online service application where they can maintain the
            records of the buses along with the details of the customers. The customer can now book
            the tickets by visiting the booking counters at their place (near by) to the respective
            destination as required. They want the application to be linked with the database, so that
            what ever details are entered like the details of the customers, buses, and bookings can be
            viewed by the other centers as well as it is an online application.
        </p>
    </div>
</div>

<section>
    <div class="block less-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="clients-carousel">
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client1.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client2.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client3.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client4.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client5.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client6.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client7.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                        <div class="client">
                            <a title="" href="#"><img src="/Content/images/resource/client8.jpg" height="82px" alt="" /></a>
                        </div><!-- Client -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Clients Carousel -->
@section Scripts
{
    <script type="text/javascript">

        $(window).load(function () {

            /*================== CLIENTS CAROUSEL ======================*/
            $('.clients-carousel').owlCarousel({
                autoplay: true,
                autoplayTimeout: 5000,
                smartSpeed: 2000,
                loop: true,
                dots: false,
                nav: true,
                margin: 10,
                items: 5,
                autoHeight: true,
                responsive: {
                    0: { items: 1 },
                    480: { items: 3 },
                    767: { items: 4 },
                    980: { items: 5 }
                }
            });

            /*================== DATE PICKER ======================*/
            //$('#BirthDate input').datepicker({
            //    format: "dd/mm/yyyy",
            //    todayHighlight: true,
            //    todayBtn: "linked"
            //});
        });


    </script>
}





